.navbar {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    position: fixed;
    width: 100%;
    z-index: 1000; /* Asegura que esté sobre otros elementos */

 }
 .navbar-brand {
     color: #fff;
     font-weight: bold;
 }
 .navbar-nav .nav-link {
     color: #fff;
 }
 .navbar-nav .nav-link:hover {
     color: #ff6f61;
 }
 .dropdown-menu {
     background-color: #343a40;
     border: none;
 }
 .dropdown-menu .dropdown-item {
     color: #fff;
 }
 .dropdown-menu .dropdown-item:hover {
     background-color: #ff6f61;
     color: #fff;
 }
 .dropdown-submenu {
     position: relative;
 }
 .dropdown-submenu .dropdown-menu {
     top: 0;
     left: 100%;
     margin-top: -6px;
     border-radius: 0.375rem;
 }